@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.home-container {
  width: 100vw;
  height: 100vh;
  max-width: 767px;
  margin: 0 auto;
}

section {
  padding: 24px 16px;
}

/* header */
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 13px 16px;
  border-bottom: 0.5px solid #dbdbdb;
}

.main-header__back {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/icon-arrow-left.svg') no-repeat;
  background-size: contain;
}

.main-header__button {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/icon- more-vertical.svg') no-repeat;
  background-size: contain;
}

/* chat */
.chat {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.user-img {
  width: 42px;
  height: 42px;
  margin-right: 12px;
  position: relative;
}

.chat-online {
  width: 12px;
  height: 12px;
  background-color: #f26e22;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.chat-content h2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.chat-content p {
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}

.chat-date {
  font-size: 10px;
  line-height: 13px;
  color: #dbdbdb;
  position: absolute;
  bottom: 5px;
  right: 0px;
}

.home-nav {
  position: absolute;
  bottom: 0;
  width: inherit;
  max-width: 767px;
  margin: 0 auto;
  padding: 13px 16px;
  border-top: 1px solid #dbdbdb;
}

.home-nav .nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.nav-list .list-item {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  line-height: 14px;
  color: #767676;
  align-items: center;
}

.nav-list .list-item .list-img {
  width: 18px;
  height: 18px;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-window {
  display: none;
  background-color: #ffffff;
}

.modal-bottom {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 767px;
  padding: 16px 0 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-bottom::before {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  margin: 0 auto 16px;
  border-radius: 5px;
  background-color: #dbdbdb;
}

.modal-bottom__button {
  width: 100%;
  padding: 14px 0 14px 26px;
  font-size: 14px;
  text-align: left;
}

.modal-bottom__button:hover {
  background-color: #eeeeee;
}

.modal-confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 252px;
  height: 110px;
  border-radius: 5px;
  text-align: center;
}

.modal-confirm__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 16px;
  font-weight: 500;
}

.modal-confirm__list {
  display: flex;
  justify-content: center;
}

.modal-confirm__item {
  width: 50%;
  height: 46px;
}

.modal-confirm__item--yes {
  border-left: 1px solid #dbdbdb;
}

.modal-confirm__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.modal-confirm__button--yes {
  font-weight: 500;
  color: #f26e22;
}

.is-modal-active {
  display: block;
  z-index: 10;
}
