main {
  background-color: #f2f2f2;
  padding: 224px 16px 20px;
}

.home-container {
  width: 100vw;
  height: 100vh;
  max-width: 767px;
  margin: 0 auto;
}

/* header */

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 13px 16px;
  border-bottom: 0.5px solid #dbdbdb;
}

.main-header__title {
  font-size: 14px;
  line-height: 18px;
}

.main-header__back {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/icon-arrow-left.svg') no-repeat;
  background-size: contain;
}

.main-header__button {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/icon- more-vertical.svg') no-repeat;
  background-size: contain;
}

/* your-chat */

.your-chat {
  display: flex;
  position: relative;
}

.your-chat img {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}

.your-chat p {
  width: 240px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  padding: 12px;
  margin-bottom: 9px;
  margin-right: 6px;
  border-radius: 10px;
  border-top-left-radius: 0;
  font-size: 14px;
  line-height: 18px;
}

.your-chat span {
  font-size: 10px;
  line-height: 13px;
  position: absolute;
  left: 300px;
  bottom: 10px;
}

/* my-chat && img-transform*/
.my-chat {
  display: flex;
  justify-content: end;
  position: relative;
}

.my-chat p {
  width: 108px;
  height: 42px;
  background-color: #f26e22;
  padding: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  border-radius: 10px;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}

.img-transform {
  text-align: end;
}

.my-chat span,
.img-transform span {
  font-size: 10px;
  line-height: 13px;
  margin-right: 6px;
}

.my-chat span {
  position: absolute;
  right: 110px;
  bottom: 10px;
}

/* chat-transform */

.chat-transform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 12px 16px;
}

.chat-content {
  display: flex;
  align-items: center;
}

.album-button {
  width: 36px;
  height: 36px;
  margin-right: 18px;
}

.chat-btn {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 18px;
}

/* post-modal */
/* modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-window {
  display: none;
  background-color: #ffffff;
}

.modal-bottom {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100vw;
  height: 138px;
  max-width: 767px;
  padding: 16px 0 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-bottom::before {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  margin: 0 auto 16px;
  border-radius: 5px;
  background-color: #dbdbdb;
}

.modal-bottom__button {
  width: 100%;
  padding: 14px 0 14px 26px;
  font-size: 14px;
  text-align: left;
}

.modal-bottom__button:hover {
  background-color: #eeeeee;
}

.modal-confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 252px;
  height: 110px;
  border-radius: 5px;
  text-align: center;
}

.modal-confirm__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 16px;
  font-weight: 600;
}

.modal-confirm__list {
  display: flex;
  justify-content: center;
}

.modal-confirm__item {
  width: 50%;
  height: 46px;
}

.modal-confirm__item--yes {
  border-left: 1px solid #dbdbdb;
}

.modal-confirm__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.modal-confirm__button--yes {
  font-weight: 600;
  color: #f26e22;
}

.is-modal-active {
  display: block;
  z-index: 10;
}

.on {
  color: #f26e22;
}
