@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.home-container {
  width: 100vw;
  height: 100vh;
  max-width: 767px;
  margin: 0 auto;
}

section {
  padding: 24px 16px;
}

/* header */
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 13px 16px;
  border-bottom: 0.5px solid #dbdbdb;
}

.main-header__back {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/icon-arrow-left.svg') no-repeat;
  background-size: contain;
}

.main-header__button {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/icon- more-vertical.svg') no-repeat;
  background-size: contain;
}

/* chat */
.chat {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.user-img {
  width: 42px;
  height: 42px;
  margin-right: 12px;
  position: relative;
}

.chat-online {
  width: 12px;
  height: 12px;
  background-color: #f26e22;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.chat-content h2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.chat-content p {
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}

.chat-date {
  font-size: 10px;
  line-height: 13px;
  color: #dbdbdb;
  position: absolute;
  bottom: 5px;
  right: 0px;
}

.home-nav {
  position: absolute;
  bottom: 0;
  width: inherit;
  max-width: 767px;
  margin: 0 auto;
  padding: 13px 16px;
  border-top: 1px solid #dbdbdb;
}

.home-nav .nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.nav-list .list-item {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  line-height: 14px;
  color: #767676;
  align-items: center;
}

.nav-list .list-item .list-img {
  width: 18px;
  height: 18px;
}
