* {
    box-sizing: border-box;
}

.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    white-space: nowrap; 
}

.home-container {
    width: 100vw;
    height: 100vh;
    max-width: 767px;
    margin: 0 auto;
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 11px 16px;
    border-bottom: 1px solid #DBDBDB;
}

.home-header .header-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.home-header .header__btn-search {
    width: 24px;
    height: 24px;
    background-image: url("../images/icon-search.svg");
    cursor: pointer;
}

.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 767px;
    min-height: calc(100vh - 106px);
}

.main-content{
    width: 100%;
}

.main-content .main__logo {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.main-content .main__txt {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #767676;
    margin-top: 20px;
}

.main-content .main__btn {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 44px;
    margin-top: 33px;
    background-color: #F26E22;
    border-radius: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

.home-nav {
    position: absolute;
    bottom: 0;
    width: inherit;
    max-width: 767px;
    margin: 0 auto;
    padding: 13px 16px;
    border-top: 1px solid #DBDBDB;
}

.home-nav .nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.nav-list .list-item {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 14px;
    color: #767676;
    align-items: center;
    text-align: center;
}

.nav-list .list-item a{
    text-decoration: none;
    color: #767676;
}

.nav-list .list-item .list-img {
    width: 18px;
    height: 18px;
    display: block;
    margin: 0 auto;
}