* {
    box-sizing: border-box;
}

.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    white-space: nowrap; 
}

.home-container {
    width: 100vw;
    height: 100vh;
    max-width: 767px;
    margin: 0 auto;
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 11px 16px;
    border-bottom: 1px solid #DBDBDB;
}

.home-header .header-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.home-header .header__btn-search {
    width: 24px;
    height: 24px;
    background-image: url("../images/icon-search.svg");
    cursor: pointer;
}

.home-main {
    max-width: 767px;
    padding-bottom: 60px;
}

.main-content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-content .main__logo {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.main-content .main__txt {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #767676;
    margin-top: 20px;
}

.main-content .main__btn {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 44px;
    margin-top: 33px;
    background-color: #F26E22;
    border-radius: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

.main-article {
    position: relative;
}

.home-main .main-article {
    display: flex;
    align-items: flex-start;
    margin: 20px 16px;
}

.home-main .main-article .article-profile {
    width: 42px;
    height: 42px;
    border-radius: 70%;
    margin-right: 12px;
}

.home-main .article-container .article-nickname {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.home-main .article-container .article-id {
    font-size: 12px;
    line-height: 14px;
    color: #767676;
}

.home-main .article-container .article-cont {
    font-size: 14px;
    line-height: 18px;
    margin: 16px 0;
}

.article-post__img {
    display: block;
    margin-bottom: 14.5px;
    max-width: 100%;
    margin-bottom: 14.5px;
    border-radius: 10px;
    object-fit: cover;
}

.article-post__img-list {
    display: flex;
    column-gap: 8px;
    padding: 1px;
    margin-bottom: 14.5px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.article-post__img-list::-webkit-scrollbar {
    display: block;
}

.article-post__img--small {
    display: block;
    width: 168px;
    height: 126px;
    margin: 0;
    object-fit: cover;
}

.article-post__img:hover,
.article-post__img--small:hover {
    outline: 1px solid #DBDBDB; 
}

.home-main .article-container .article-post__img {
    display: block;
}

.article-container .article-heart__btn {
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
}

.article-container .article-comment__btn {
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
}

.article__num {
    font-size: 12px;
    line-height: 12px;
    color: #767676;
    vertical-align: 3px;
}

.article-date {
    display: block;
    font-size: 10px;
    line-height: 12px;
    color: #767676;
    margin-top: 20px;
}

.home-nav {
    position: fixed;
    background-color: #FFF;
    bottom: 0;
    width: inherit;
    max-width: 767px;
    margin: 0 auto;
    padding: 13px 16px;
    border-top: 1px solid #DBDBDB;
}

.home-nav .nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.nav-list .list-item {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 14px;
    color: #767676;
    align-items: center;
    text-align: center;
}

.nav-list .list-item a{
    text-decoration: none;
    color: #767676;
}

.nav-list .list-item .list-img {
    width: 18px;
    height: 18px;
    display: block;
    margin: 0 auto;
}

.feed-article__button {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    background: url('../images/s-icon-more-vertical.svg') no-repeat;
    background-size: contain;
}

/* modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
  
.modal-window {
    display: none;
    background-color: #FFFFFF;
}
  
.modal-bottom {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 767px;
    padding: 16px 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.modal-bottom::before {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    margin: 0 auto 16px;
    border-radius: 5px;
    background-color: #DBDBDB;
}
  
.modal-bottom__button {
    width: 100%;
    padding: 14px 0 14px 26px;
    font-size: 14px;
    text-align: left;
}
  
.modal-bottom__button:hover {
    background-color: #EEEEEE;
}
  
.modal-confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 252px;
    height: 110px;
    border-radius: 5px;
    text-align: center;
}
  
.modal-confirm__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid #DBDBDB;
    font-size: 16px;
    font-weight: 500;
}
  
.modal-confirm__list {
    display: flex;
    justify-content: center;
}
  
.modal-confirm__item {
    width: 50%;
    height: 46px;
}
  
.modal-confirm__item--yes {
    border-left: 1px solid #DBDBDB;
}
  
.modal-confirm__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
  
.modal-confirm__button--yes {
    font-weight: 500;
    color: #F26E22;
}
  
.is-modal-active {
    display: block;
    z-index: 10;
}
  