  a {
    color: #767676;
  }

  .sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    white-space: nowrap; 
}

  .login-email-container {
    width: 100vw;
    height: 100vh;
    max-width: 767px;
    margin: 0 auto;
  }

  .header-title {
    display: block;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    margin: 54px auto 40px;
    color: #000;
  }

  .login-email-main {
    max-width: 767px;
  }

  .input-container {
    width: 100vw;
    max-width: 767px;
    margin: 0 auto;
  }

  .input-area {
    width: 322px;
    position: relative;
    margin: 16px auto 0;
  }

  .input-area:first-child {
    margin-top: 0;
  }

  .input-area input {
    width: 322px;
    padding: 32px 0 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    outline: none;
  }

  .input-area input::placeholder {
    color: #dbdbdb;
  }

  .input-area input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  .input-area input:focus {
    border-bottom: 1px solid #f26e22;
    transition: all 1s ease;
  }

  .input-area label {
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 12px;
    color: #767676;
    transition: all .5s ease;
  }

  .input-area .warning {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #eb5757;
    transition: all .5s ease;
    margin: 6px 0 16px 0;
  }

  .btn-area {
    text-align: center;
  }

  #login_btn {
    outline: 0;
    border: 0;
    width: 322px;
    height: 44px;
    background: #f26e22;
    opacity: .3;
    border-radius: 44px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 44px;
    color: #fff;
    margin: 30px auto 0;
    cursor: pointer;
  }

  .caption {
    font-size: 12px;
    font-weight: 400;
    color: #767676;
    margin: 20px 0 0 0;
    text-align: center;
  }