* {
    box-sizing: border-box;
}

.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    white-space: nowrap; 
}

.home-container {
    width: 100vw;
    height: 100vh;
    max-width: 767px;
    margin: 0 auto;
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 11px 16px;
    border-bottom: 1px solid #DBDBDB;
}

.home-header .header-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.home-header .header__btn-search {
    width: 24px;
    height: 24px;
    background-image: url("../images/icon-search.svg");
    cursor: pointer;
}

.home-main {
    max-width: 767px;
    padding-bottom: 60px;
}

.home-main .main-article {
    display: flex;
    align-items: flex-start;
    margin: 20px 16px;
    
}

.home-main .main-article .article-profile {
    width: 42px;
    height: 42px;
    margin-right: 12px;
}


.home-main .article-container .article-nickname {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.home-main .article-container .article-id {
    font-size: 12px;
    line-height: 14px;
    color: #767676;
}

.home-main .article-container .article-cont {
    font-size: 14px;
    line-height: 18px;
    margin: 16px 0;
}

.home-main .article-container .article-post__img {
    display: block;
    margin-bottom: 14.5px;
    max-width: 100%;
}

.article-container .article-heart__btn {
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
}

.article-container .article-comment__btn {
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
}

.article-heart__num, .article-comment__num {
    font-size: 12px;
    line-height: 12px;
    color: #767676;
    vertical-align: 3px;
}

.article-date {
    display: block;
    font-size: 10px;
    line-height: 12px;
    color: #767676;
    margin-top: 20px;
}

.home-nav {
    position: fixed;
    background-color: #FFF;
    bottom: 0;
    width: inherit;
    max-width: 767px;
    margin: 0 auto;
    padding: 13px 16px;
    border-top: 1px solid #DBDBDB;
}

.home-nav .nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.nav-list .list-item {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 14px;
    color: #767676;
    align-items: center;
    text-align: center;
}

.nav-list .list-item a{
    text-decoration: none;
    color: #767676;
}

.nav-list .list-item .list-img {
    width: 18px;
    height: 18px;
    display: block;
    margin: 0 auto;
}