/* reset */

a, button {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wrap {
  width: 100vw;
  height: 100vh;
  max-width: 767px;
  margin: 0 auto;
}

.container {
  background-color: #FFFFFF;
}

/* main header */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 13px 16px;
  border-bottom: 1px solid #DBDBDB;
}

.main-header__back {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/icon-arrow-left.svg') no-repeat;
  background-size: contain;
}

.main-header__button {
  width: 90px;
  height: 32px;
  border-radius: 32px;
  background-color: #FFC7A7;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

.main-header__button--active {
  background-color: #F26E22;
}

.main-header__button--active:hover {
  opacity: .8;
}

/* product */

.product-modify { 
  min-height: 712px;
}

.form-product {
  padding-top: 30px;
}

.input-area {
  width: calc(100vw - 68px);
  max-width: 322px;
  position: relative;
  margin: 16px auto 0;
}

.input-area__label-title {
  display: inline-block;
  margin-bottom: 18px;
  font-size: 12px;
  color: #767676;
}

.input-area__label-file {
  display: block;
  overflow: hidden;
  position: relative;
  max-width: 322px;
  height: 204px;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  background-color: #F2F2F2;
  cursor: pointer;
}

.input-area__label-file:hover {
  opacity: .8;
}

.input-area__label-file::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  background: url('../images/img-button.svg') no-repeat;
}

.input-area__img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-area__label {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  color: #767676;
}

.input-area__input {
  width: 100%;
  background-color: transparent;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #DBDBDB;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  outline: none;
}

.input-area__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input-area__input::placeholder {
  color: #DBDBDB;
}

.input-area__input--product-price::-webkit-outer-spin-button,
.input-area__input--product-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-area__error {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #eb5757;
  margin-top: 6px;
}

/* gnb */

.global-nav {
  position: fixed;
  background-color: #FFF;
  bottom: 0;
  width: inherit;
  max-width: 767px;
  margin: 0 auto;
  padding: 13px 16px;
  border-top: 1px solid #DBDBDB;
}

.global-nav .nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.nav-list .list-item {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  line-height: 14px;
  color: #767676;
  align-items: center;
}

.nav-list .list-item .list-img {
  width: 18px;
  height: 18px;
}