/* reset */

* {
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
}

a, button {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100vw;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #DBDBDB;
  background-color: #FFFFFF;
}

/* util */

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* main header */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 16px;
  border: none;
}

.main-header__back {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/icon-arrow-left.svg') no-repeat;
  background-size: contain;
}

.main-header__button {
  width: 90px;
  height: 32px;
  border-radius: 32px;
  background-color: #FFC7A7;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

.main-header__button--active {
  background-color: #F26E22;
}

.main-header__button--active:hover {
  opacity: .8;
}

/* profile */

.profile-modify { 
  min-height: 712px;
}

/* joinMembership2.css 에서 가져옴 */
.profile-img-area {
  display: block; /* 추가됨 */
  width: 110px;
  height: 110px;
  margin: 30px auto 30px;
  position: relative;
}

.profile-img-area::after {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url("/images/upload-file.svg") no-repeat;
  background-size: 36px 36px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-img-area:hover { /* 추가됨 */
  opacity: .8;
}

.input-area {
  width: 322px;
  position: relative;
  margin: 16px auto 0;
}

.input-area:first-child {
  margin-top: 0;
}

.input-area input {
  width: 322px;
  padding: 32px 0 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  outline: none;
}

.input-area input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input-area input::placeholder {
  color: #dbdbdb;
}

.input-area label {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 12px;
  color: #767676;
  transition: all .5s ease;
}
/* joinMembership2.css 에서 가져옴 */