@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}

.home-container {
  width: 100vw;
  height: 100vh;
  max-width: 767px;
  margin: 0 auto;
}

button,
input {
  border: none;
  background: none;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* header */
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 13px 16px;
  border-bottom: 0.5px solid #dbdbdb;
}

.main-header__back {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/icon-arrow-left.svg') no-repeat;
  background-size: contain;
}

.main-header__button {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/icon- more-vertical.svg') no-repeat;
  background-size: contain;
}

/* home-main */
.home-main {
  max-width: 767px;
  padding-bottom: 60px;
}

.home-main .main-article .article-profile {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}

.home-main .article-container .article-nickname {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.home-main .article-container .article-id {
  font-size: 12px;
  line-height: 14px;
  color: #767676;
}

.home-main .article-container .article-cont {
  font-size: 14px;
  line-height: 18px;
  margin: 16px 0;
}

.home-main .article-container .article-post__img {
  display: block;
  margin-bottom: 14.5px;
}

.article-container .article-heart__btn {
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

.article-container .article-comment__btn {
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

.article-heart__num,
.article-comment__num {
  font-size: 12px;
  line-height: 12px;
  color: #767676;
  vertical-align: 3px;
}

.article-date {
  font-size: 10px;
  line-height: 12px;
  color: #767676;
  margin-top: 20px;
}

/* comment */

.comment {
  display: flex;
  position: relative;
  padding: 16px 22px;
}

.user-img {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}

.user-img,
.user-name {
  cursor: pointer;
}

.comment-content {
  flex: 1;
  position: relative;
}

.comment-author {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.user-name {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}

.comment-content span {
  font-size: 10px;
  line-height: 13px;
  color: #767676;
}

.comment-content p {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.comment-btn {
  position: absolute;
  top: 0;
  right: 15px;
}

.divide {
  width: 390px;
  height: 1px;
  background: #dbdbdb;
}

/* post */
.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 12px 16px;
  border-top: 0.5px solid #dbdbdb;
}

.post-content {
  display: flex;
  align-items: center;
}

.post-profile {
  width: 36px;
  height: 36px;
  margin-right: 18px;
}

.post-btn {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 18px;
}

/* modal */
.post-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  height: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 36px 0 28px;
  margin: 0 auto;
  background: url(../images/Rectangle\ 70.svg) no-repeat center 16px;
  background-color: #fff;
  display: none;
}

.post-modal__content {
  width: 390px;
  height: 46px;
  padding: 14px 26px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-window {
  display: none;
  background-color: #ffffff;
}

.modal-bottom {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100vw;
  height: 138px;
  max-width: 767px;
  padding: 16px 0 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-bottom::before {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  margin: 0 auto 16px;
  border-radius: 5px;
  background-color: #dbdbdb;
}

.modal-bottom__button {
  width: 100%;
  padding: 14px 0 14px 26px;
  font-size: 14px;
  text-align: left;
}

.modal-bottom__button:hover {
  background-color: #eeeeee;
}

.modal-confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 252px;
  height: 110px;
  border-radius: 5px;
  text-align: center;
}

.modal-confirm__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 16px;
  font-weight: 500;
}

.modal-confirm__list {
  display: flex;
  justify-content: center;
}

.modal-confirm__item {
  width: 50%;
  height: 46px;
}

.modal-confirm__item--yes {
  border-left: 1px solid #dbdbdb;
}

.modal-confirm__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.modal-confirm__button--yes {
  font-weight: 500;
  color: #f26e22;
}

/* feed */

.feed {
  display: none;
  margin-bottom: 6px;
}

.has-feed {
  display: block;
}

.feed__button {
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;
  padding: 9px 16px 9px 0;
}

.feed__label {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.feed__label:hover {
  background-position: 1px 1px;
}

.feed__label-list {
  background: url('../images/icon-post-list-off.svg') no-repeat;
}

.feed__label-list--on {
  background: url('../images/icon-post-list-on.svg') no-repeat;
}

.feed__label-album {
  background: url('../images/icon-post-album-off.svg') no-repeat;
}

.feed__label-album--on {
  background: url('../images/icon-post-album-on.svg') no-repeat;
}

.feed-list,
.feed-album {
  display: none;
}

/* 피드 목록 */

.feed-list {
  flex-direction: column;
  row-gap: 24px;
  padding-bottom: 100px;
}

.main-article {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 20px 16px 24px;
  border-bottom: 1px solid #dbdbdb;
}

.article-profile {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  border-radius: 21px;
  border: 1px solid #dbdbdb;
}

.article-container {
  overflow: hidden;
}

.article-nickname {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.article-id {
  font-size: 12px;
  line-height: 14px;
  color: #767676;
}

.article-cont {
  font-size: 14px;
  line-height: 18px;
  margin: 16px 0;
}

.article-post__img {
  display: block;
  width: calc(100vw - 86px);
  max-width: 304px;
  max-height: 228px;
  margin-bottom: 14.5px;
  border-radius: 10px;
  object-fit: cover;
}

.article-post__img-list {
  display: flex;
  column-gap: 8px;
  padding: 1px;
  margin-bottom: 14.5px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.article-post__img-list::-webkit-scrollbar {
  display: none;
}

.article-post__img--small {
  display: block;
  width: 168px;
  height: 126px;
  margin: 0;
  object-fit: cover;
}

.article-post__img:hover,
.article-post__img--small:hover {
  outline: 1px solid #dbdbdb;
}

.article-heart__btn {
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

.article-comment__btn {
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

.article-num {
  font-size: 12px;
  line-height: 12px;
  color: #767676;
  vertical-align: 3px;
}

.article-date {
  font-size: 10px;
  line-height: 12px;
  color: #767676;
  margin-top: 20px;
}

.feed-article__button {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 16px;
  width: 18px;
  height: 18px;
  background: url('../images/s-icon-more-vertical.svg') no-repeat;
  background-size: contain;
}

/* js용 class */
.on {
  color: #f26e22;
}

.is-modal-active {
  display: block;
  z-index: 10;
}
