.splash-container {
  width: 100vw;
  height: 100vh;
  max-width: 767px;
  margin: 0 auto;
  text-align: center;
}

.full-logo {
  width: 200px;
  height: 200px;
  margin: 270px 0 0 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1.2s ease-in forwards;
}