body,
html {
  overflow-x: hidden;
}

.home-container {
  width: 100vw;
  height: 100vh;
  max-width: 767px;
  margin: 0 auto;
}

/* upload header */
.main-header__back {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('../images/icon-arrow-left.svg') no-repeat;
  background-size: contain;
}

.upload-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 8px 20px;
  border-bottom: 0.5px solid #dbdbdb;
}

.upload-bar__btn {
  width: 90px;
  height: 32px;
  background-color: #ffc7a7;
  color: #fff;
  border-radius: 32px;
  cursor: default;
}

.upload-bar__btn--active {
  background-color: #f26e22;
  cursor: pointer;
}

.upload-content {
  display: flex;
}

/* main - upload content */
main {
  padding: 20px 16px 16px 16px;
  position: relative;
  height: calc(100vh - 49px);
}

.user-image {
  width: 42px;
  height: 42px;
  margin-right: 13px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  object-fit: cover;
}

.upload-form__content {
  display: inline-block;
  width: 100%;
  min-height: 30px;
  border: none;
  resize: none;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  overflow: hidden;
}

.upload-form__content::placeholder {
  color: #c4c4c4;
}

.upload-form {
  flex: 1;
  min-width: 0;
}

.img-thumbnail {
  margin-top: 16px;
}

.img-uploaded {
  display: inline-block;
  position: relative;
}

.delete-img {
  display: block;
  position: absolute;
  top: 11.5px;
  right: 11.5px;
  width: 22px;
  height: 22px;
  background: url('../images/icon-delete.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}

.img-big {
  width: 304px;
  height: 228px;
  border-radius: 10px;
  object-fit: cover;
}

.img-small {
  width: 168px;
  height: 126px;
  border-radius: 10px;
  object-fit: cover;
}

.img-list {
  display: flex;
  column-gap: 10px;
  overflow: hidden;
  padding-right: 30px;
}

/* upload-label */
.upload-label {
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}

.upload-label img {
  width: 50px;
  height: 50px;
}

/* js용 클래스 */
.on {
  background-color: #f26e22;
}

.colorchange {
  color: black;
}
